* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
  width: 100px;
  padding: 0;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
}

.default-text {
  font-size: 15px;
  color: red;
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid lightgray;
}
