.post {
  max-width: 50vw;
  background-color: white;
  border: 1px solid lightgray;
  margin-left: auto;
  margin-right: auto;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
}

.post__header {
  display: flex;
  padding: 20px;
  align-items: center;
}

.post__avatar {
  margin-right: 10px;
}

.post__text {
  padding: 20px;
}

.post__commentBox {
  display: flex;
  margin: 10px 20px;
  /* width: 80%; */
}

.post__input {
  flex: 1;
  border: none;
  margin: 10px;

  border-top: 1px solid lightgray;
}

.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
}

.post__comments {
  overflow: scroll;
  padding: 10px;
  height: 120px;
}

h4 {
  overflow: hidden;
  padding: 10px;
}
